/*
-	Project 2 'dbms tutorial'
-	All Right Rerserved
-	Designed by Mayank
-	index.html
*/
* {
    margin:0;
    padding: 0;
    font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    color:var(--black);
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
:root {
    --lgreen:#b1dfbb;
    --lred:#ed969e;
}
::-webkit-scrollbar
{
    width:0.5rem;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background: var(--dark);
    border-radius: 5px;
}
::selection
{
    color:var(--white);
    background:#343a40;
}
::marker
{
    color:var(--secondary);
}
#main
{
    display: grid;
    grid-template-columns:3fr 1fr;
    max-width:1000px;
    margin:auto;
}
/*
    aside css ---
*/
#aside
{
    position: sticky;
    overflow: hidden;
    overflow-y: auto;
    top:0;
    width: 100%;
    height: 100vh;
    padding:2rem  0;
    background: var(--white);
}
#aside > a
{
    display: block;
    padding:1rem 2rem;
    text-decoration: none;
}
#aside > a:hover
{
    opacity:0.6;
    border-left: 2px solid var(--primary);
}
/*
    section css ---
*/

#header {
    position: sticky;
    top:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 5px;
    background:#f8f9fa;
}
#menu_button {
    /* margin:0.5rem; */
    padding: 0.5rem;
    font-size: 1.5em;
    background: transparent;
}
#menu_button:hover {
    opacity:0.5;
}
/*
    content css ---
*/
#content {
    padding: 2rem 1rem;
}
.text-lred
{
    color:var(--lred);
}
.text-lgreen
{
    color:var(--lgreen);
}

/*
    body css ---
*/
body
{
    height: 100vh;
    overflow: auto;
    background: #f8f9fa;
}
.container-fluid
{
    overflow:hidden;
    background:#f8f9fa !important;
}
.container-fluid::-webkit-scrollbar
{
    width:0.5rem;
    background: transparent !important;
}

#article
{
    display: grid;
    grid-template-rows: 50px auto;
    height: 100vh;
}
/*
    frame css -----
*/
#frame
{
    overflow: scroll;
    width: 100%;
    height: 100%;
    border:none;
}
#frame::-webkit-scrollbar
{
    width:0;
    background: transparent;
}
.form-group
{
    margin: -2rem 0 0 0;
    padding: 1rem;
}
#searchbar
{
    background: var(--light);
    border: none;
}
/* PAGES */
.container-fluid
{
    border-bottom: 1px dotted var(--warning);
}
.ent
{
	font-size:3rem;
}
ol,ul
{
    margin-left: 1rem;
    padding: 1rem;
}
li
{
    display: block;
    line-height: 2rem;
}
li::marker
{
    color:var(--primary);
}
summary
{
    margin:0.5rem auto;
    list-style: none;
    line-height: 2rem;
}
dt
{
    font-weight:normal;
}
pre
{
    padding: 1rem;
    color:var(--lred);
    background: var(--dark);
    box-shadow:3px 5px 5px var(--secondary);
    border-radius: 5px;
}
mark
{
    display: block;
    font-weight: bold;
}
/* pl frame */
.pl
{
    color:var(--lgreen);
}
/* ENEITY */
#strongentity
{
    padding: 1rem;
    text-align: center;
    color:var(--primary);
    border:1px solid var(--primary);
}
#weakentity
{
    padding: 1rem;
    text-align: center;
    color:var(--danger);
    border:3px double var(--danger);
}
#simplecol
{
    border-radius: 50px;
}
#keycol
{
    text-decoration: underline;
    border-radius: 50px;
}
#multivaluedcol
{
    border:3px double var(--info);
    border-radius: 50px;
}
#compositecol
{
    border:1px solid var(--dark);
    border-radius: 50px;
}
#drivedcol
{
    border:3px dotted var(--warning);
    border-radius: 50px;
}
#oto
{
    color:var(--warning);
}
#otm
{
    color:var(--info);
}
#mto
{
    color:var(--danger);
}
#mtm
{
    color:var(--info);
}
/*
    footer css ----
*/
#footer
{
    padding: 5px;
    font-weight:normal;
    color: #343a40;
}
#footer a
{
    display:inline-block !important;
    padding: 1px;
}
/*
    responsive css ----
*/
@media screen and (max-width:600px)
{
    #main
    {
        grid-template-columns: 1fr !important;
    }
    #aside
    {
        width: 90%; 
        margin:auto;
        position: absolute;
        z-index: 100%;
        left:5%;
        top:10% !important;
    }
}
/* SCREEN : 576PX */
@media screen and (max-width:576PX)
{
    #container > .container > .row
    {
        position: relative;
    }
    #aside
    {
        width: 100% !important;
        position: absolute;
        z-index:50;
    }
    .ent
    {
        font:1rem;
    }
}
/* THE END */
